<main>
    <!--Start Section-->
    <section class="well-sm">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 ">
                    <h2>
                        <span class="ubold">Who</span> we are
                    </h2>
                    <%= image_tag "logo.svg", class: "prefix-2" %>


                    <p>
                        Founded in 1973 by Dominique Reyl and led by François Reyl since 2008, the REYL Group experiences strong growth based on the diversification of its business lines and the expansion of its international presence.  Alongside the founding family members, three Partners contribute their experience and know how: Nicolas Duchêne (Corporate & Family Governance and Corporate Advisory & Structuring), Christian Fringhian (Corporate Advisory & Structuring) and Lorenzo Rocco di Torrepadula (Wealth Management).
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 offset-3">
                    <h2>
                        <span class="ubold">Our</span> history
                    </h2>

                    <article>

                        <h3><a href="#">Diversification of business lines</a></h3>

                        <p>
                            Originally concentrated on its core Wealth Management business line, the REYL Group has continuously expanded its service offering to meet the increasingly complex needs of its private and institutional clients. The REYL Group is now also active in the following areas: Wealth Management, Corporate & Family Governance, Corporate Advisory & Structuring, Asset Services & Asset Management.

                        </p>
                    </article>

                    <article>



                        <h3><a href="#">International expansion</a>
                        </h3>


                        <p>
                            Headquartered in Geneva, the REYL Group has implemented a strategy of geographic diversification in order to come closer to its clientele of international entrepreneurs and institutional investors by opening offices in Luxembourg (2009), Singapore (2009), Zurich (2011), Lugano (2012), London (2013), Malta (2015), Dubai (2015) and Dallas (2016).
                        </p>
                    </article>

                    <article>

                        <h3><a href="#">Regulatory status.</a>
                        </h3>

                        <p>
                            Having operated in Switzerland for over 20 years as a bank-like financial company, REYL & Cie was granted an authorised securities dealer license in 1999 and then a banking license in 2010.

                        </p>
                    </article>

                </div>

            </div>
        </div>
    </section>
    <!--End Section-->

    <!--Start Section-->
    <section class="bg-secondary well-sm">
        <div class="container">
            <h2 class="text-center text-md-left">
                <span class="ubold">REYL</span> GROUP
            </h2>

            <div class="row text-center flow-offset-2">

            <p style="color:#fff;">  The REYL Group is an independent banking group providing financial advisory services and investment
              solutions to private and institutional clients. The REYL Group’s distinctive approach is
               based on a constant quest for innovation and highly personalised services.
             </p>
            </div>
        </div>
    </section>
    <!--End Section-->
    <section class="well-sm">
        <div class="container">
            <div class="row flow-offset-2">

                <div class="col-xs-12  col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 col-lg-6">
                    <h2 class="text-center text-md-left"><span class="ubold">Our</span> advantages</h2>
                    <ul class="index-list flow-offset-1">
                        <li class="box-md text-center text-md-left">
                            <div class="box_left inset-3">
                                <span class="icon icon-md icon-primary counter"></span>
                            </div>
                            <div class="box_cnt">
                                <h3>
                                    <a href="#">Wealth Management.</a>
                                </h3>

                                <p>
                                    REYL & Cie’s Wealth Management teams are fully dedicated to managing the portfolios of private clients,
                                     whether they are entrepreneurs, executives, pensioners or private investors.
                                     By drawing on the full range of REYL Group’s competencies, they devise tailor-made investment
                                     solutions that are adapted to the evolutions
                                    of financial markets and to the individual characteristics of each client.
                                </p>
                            </div>
                        </li>
                        <li class="box-md text-center text-md-left">
                            <div class="box_left inset-3">
                                <span class="icon icon-md icon-primary counter"></span>
                            </div>
                            <div class="box_cnt">
                                <h3>
                                    <a href="#">
                                      Corporate & Family Governance</a>
                                </h3>

                                <p>
                                    REYL & Cie develops specific solutions for large corporate or family holdings,
                                     in order to assist them in the optimisation of their
                                    structure and administration.
                                </p>
                            </div>
                        </li>
                        <li class="box-md text-center text-md-left">
                            <div class="box_left inset-3">
                                <span class="icon icon-md icon-primary counter"></span>
                            </div>
                            <div class="box_cnt">
                                <h3>
                                    <a href="#">Corporate Advisory & Structuring</a>
                                </h3>

                                <p>
                                    As a private enterprise managed by former investment bankers,
                                    REYL & Cie is closely associated with entrepreneurship and corporate advisory.
                                    REYL & Cie is fully aware that the needs of its entrepreneurial clients go
                                    far beyond the scope of traditional Wealth Management services.
                                    In order to address these needs and provide them with innovative solutions,
                                    REYL & Cie has developed since 2012 a full range of investment banking services,
                                    focusing on long-term corporate value creation for entrepreneurial clients.
                                </p>
                            </div>
                        </li>
                    </ul>


                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <h2>
                        <span class="ubold">Our</span> values
                    </h2>



                    <p>
                      Rather than constantly soliciting its clients with undifferentiated banking products and services, the REYL Group’s added value lies in its capacity to take a genuine interest in its clients’ real-life needs and to address such needs with innovative solutions.

                    </p>

                    <ul class="marked-list">
                        <li class="fa-arrow-circle-o-right"><a href="#">We build partnerships with our clients as opposed to one-way relationships
</a></li>
                        <li class="fa-arrow-circle-o-right"><a href="#">We privilege the human dimension on a global scale </a></li>
                        <li class="fa-arrow-circle-o-right"><a href="#">Our five main lines of activities work hand-in-hand</a></li>
                        >
                    </ul>
                </div>


            </div>
        </div>

    </section>
    <hr>
    <!--Start Sewction-->
    <!--End Section-->
</main>
