<tr>

                         <td><%= deposit.payment_method %></td>
                         <td><%= deposit.depositors_name %></td>
                         <td>$<%= deposit.amount%></td>
                         <td><%= deposit.status %></td>
</tr>
