
<tr>

                         <td><%= transfer.transfer_type %></td>
                         <td><%= transfer.account_name %></td>
                         <td>$<%= transfer.amount%></td>
                         <td><%= transfer.status %></td>
</tr>
